@font-face {
    font-family: 'Consolas';
    src: url('consolas-bold.woff2') format('woff2'),
        url('consolas-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('consolas.woff2') format('woff2'),
        url('consolas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

